@model IEnumerable<ASP.NET_Core_MVC.Models.Film>
@{
    ViewData["Title"] = "Фильмы";
}

<div class="text-center">
    <h1 class="display-4">Фильмы</h1>


    <div class="container row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card  shadow-sm">
                    <div class="card-header">
                        <h4>@Html.ActionLink(item.Title, "Info", "Film", new { globalId = item.Id })</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Год выхода: @Html.DisplayTextFor(modelItem => item.Year) г.</li>
                            <li>Время: @Html.DisplayTextFor(modelItem => item.Time) (мин)</li>
                            <li>Возростной рейтинг: @Html.DisplayTextFor(modelItem => item.Age)+</li>
                            <li>Рейтинг: @Html.DisplayTextFor(modelItem => item.Rating)</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
